/* @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
  }
body {
    font-family: "Arial", sans-serif;
    background-color: black; 
} */