@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
  }
body {
    font-family: "Arial", sans-serif;
    background-color: black;
    
}
.container {
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vw;
    margin-bottom: 10vw;;
    background-color: black;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: ;
}

.container h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Rock Salt', cursive;
    top: 0;
    margin: 0;
    color: blanchedalmond;
}

#status {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Rock Salt', cursive;
    color: blanchedalmond;
}
.btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: var(--cell-size);
    background-color: darkgray;
    text-align: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 10vh;
    
}
.btn-container div{
    background-color: darkgray;    
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    align-content: center;
    justify-items: center;
    align-items: center;

}
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
/* box-shadow: 0 0 0 1px #333333; */
    border: 3px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
    
}

.cell.x::before,
.cell.x::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-size) * 0.13);
    height: var(--mark-size);
    background-color: white;
    
}
.cell.x::before {
    transform: rotate(45deg);
}
.cell.x::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}
.cell.o::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: orangered;
}
.cell.o::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: black;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 15vw;
}

button {
    width: var(--mark-size);
    font-size: 1.5rem;
    text-align: center;
}